<!-- <header>
    <div class=" py-3">
        <div class="container">
        </div>
    </div>
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark " style="background-color: white; font-family: cursive; font-size: 13px; font-weight: bold;">
        <div class="container" style="padding-top: 12px;">
            <button class="navbar-toggler" style="color: black;" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">	
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#" style="color: black !important;"> NAIL STUDIO </a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: black !important;"> SHOP PRODUCT </a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#" style="color: black !important;"> NEWS </a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" href="#" style="color: black !important;"> LOGIN </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header> -->
<div class=" py-3" style="background-color: #1D2434; color: white;">
  <div class="container" style="color: white;">
      <span class="haut">Call Us For Appointment +1 201-670-0653</span>
      <a href="https://www.facebook.com/FWayneIN" target="_blank" class="social"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/waldwickqueennails/?hl=en" target="_blank" class="social"><i class="fa fa-instagram"></i></a>
      <!-- <a href="" class="social"><i class="fa fa-linkedin"></i></a>
      <a href="" class="social"><i class="fa fa-youtube"></i></a> -->
  </div>
</div>
<nav id="navbar_top"class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm bg-primary" style="background-color: white; font-family: cursive; font-size: 13px; font-weight: bold;">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">MegaMenu</a>
  <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto ml-auto">
      <!-- Megamenu-->
      <li class="nav-item"><a [routerLink]="['/home']" href="" style="color: black !important;" [routerLinkActive]="['active']" class="nav-link font-weight-bold text-uppercase">Home</a></li>
      <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" style="color: black !important;" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">Our Services</a>
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="container-fluid">
            <div class="row bg-white rounded-0 m-0 shadow-sm bg-primary" style="width: 100%;">
              <div class="col-lg-7 col-xl-8">
                <div class="p-4">
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">MANICURE</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0">Manicure</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">French Manicure</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Color Gel French</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Change Polish</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">PEDICURE</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Regular Pedicure</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">French Pedicure</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Green Tea SPA</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Change Polish</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">FILL-IN</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Powder Fill-In</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Second Option</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">LCN F Fill-In</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Powder Gel</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">WAXING</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Eyebrow</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Lip</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Chin</a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link text-small pb-0 ">Cheeks</a></li>
                      </ul>
                    </div>
                    <!-- <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">MASSAGE</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">15Min</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">30Min</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Chin</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Cheeks</a></li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(assets/header/header.jpeg)no-repeat; background-size: cover;"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item"><a [routerLink]="['/about-us']" href="" style="color: black !important;" [routerLinkActive]="['active']" class="nav-link font-weight-bold text-uppercase">About</a></li>
      <!-- <li class="nav-item"><a href="" style="color: black !important;" class="nav-link font-weight-bold text-uppercase">Services</a></li> -->
      <li class="nav-item"><a href="javascript:void(0)" [routerLink]="['/contact-us']" style="color: black !important;" [routerLinkActive]="['active']" class="nav-link font-weight-bold text-uppercase">Contact</a></li>
      <li class="nav-item"><a href="javascript:void(0)" [routerLink]="['/gallery']" style="color: black !important;" [routerLinkActive]="['active']" class="nav-link font-weight-bold text-uppercase">Gallery</a></li>
      <li class="nav-item"><a href="javascript:void(0)" [routerLink]="['/pricings']" style="color: black !important;" [routerLinkActive]="['active']" class="nav-link font-weight-bold text-uppercase">Pricing</a></li>
      <li class="nav-item bg-info" style="border-radius: 20px;"><a href="javascript:void(0)" [routerLink]="['/access/make-appointment']" style="color: black !important;" class="nav-link font-weight-bold text-uppercase">Book Appointment</a></li>
      <!-- <li class="nav-item"><a href="javascript:void(0)" [routerLink]="['/login']" style="color: black !important;" class="nav-link font-weight-bold text-uppercase">Login</a></li> -->
    </ul>
  </div>
</nav>


<!-- <header>
  <div class=" py-3">
      <div class="container">
      </div>
  </div>
  <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark " style="background-color: white; font-family: cursive; font-size: 13px; font-weight: bold;">
      <div class="container" style="padding-top: 12px;">
          <button class="navbar-toggler" style="color: black;" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main_nav">	
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="#" style="color: black !important;"> NAIL STUDIO </a></li>
                  <li class="nav-item"><a class="nav-link" href="#" style="color: black !important;"> SHOP PRODUCT </a></li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link" href="#" style="color: black !important;"> NEWS </a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" href="#" style="color: black !important;"> LOGIN </a></li>
              </ul>
          </div>
      </div>
  </nav>
</header> -->
