<section style="background-image: url('assets/price/price.jpg');">
    <div class="page-header" style="opacity: 60%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Pricing</h2>
                </div>
                <div class="col-12">
                    <a href="javascript:void(0)">Our</a>
                    <a href="javascript:void(0)">Pricings</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="price">
    <div class="container">
        <div class="section-header text-center">
            <p style="font-size: 30px; font-family: cursive;" class="text-success"><strong>Our Best Pricing</strong></p>
            <h2 class="py-5">We Provide Best Price ever</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-1.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>MANICURE</h2>
                        <h3>$9 - $50</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-2.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>FILL-IN</h2>
                        <h3>$50 - $60</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-3.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>NEW-SELF</h2>
                        <h3>$100 - $130</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-4.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>WAKING</h2>
                        <h3>$10 - $65</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-5.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>PADICURE</h2>
                        <h3>$15 - $96</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-6.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>MASSAGE</h2>
                        <h3>$12 - $40</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-6.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>MAN</h2>
                        <h3>$13 - $30</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-7.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>LITTLE ANGLES</h2>
                        <h3>$25 - $35</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-8.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>EYELASH EXTENSIONS</h2>
                        <h3>$50 - $200</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-9.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>Service Name</h2>
                        <h3>$17.99</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-10.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>Service Name</h2>
                        <h3>$18.99</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-11.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>Service Name</h2>
                        <h3>$19.99</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="assets/price/img/price-12.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>Service Name</h2>
                        <h3>$20.99</h3>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>